# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always normalize to LF
*.csv      text eol=lf
*.py       text eol=lf
*.md       text eol=lf
*.json     text eol=lf
*.txt      text eol=lf